[Unit]
Description=Puma web server
After=network.target

[Service]
User=ec2-user
WorkingDirectory={{ app_dir }}
ExecStart=/home/ec2-user/.rbenv/shims/bundle exec puma -C config/puma.rb
Restart=always

[Install]
WantedBy=multi-user.target
