[defaults]
host_key_checking = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
# SSH接続時のエラーを回避する： https://qiita.com/taka379sy/items/331a294d67e02e18d68d